@import 'spinner';

$expandAndCollapseControlColor: #999999;
$disabledTextColor: #666666;
$subtreeIndent: 15px;

.collapsed::before {
    content: "+";
}

.expanded::before {
    content: "-";
}

.subtree {
    margin-left: $subtreeIndent;
}

.key {
    font-style: italic;
    cursor: pointer;
    display: inline-block;

    &::before {
        font-size: 0.8em;
        color: $expandAndCollapseControlColor;
        display: inline-block;
        width: 10px;
    }

    &::after {
        content: ":"
    }
}

.value {
    margin-left: 10px;
    display: inline-block;
    white-space: pre-wrap;
    
    &.undefined, &.null, &.empty {
        color: $disabledTextColor;
    }
}

.key-value {
    margin: 2px 0px;
    font-family: monospace;
}

.ellipses {
    margin-left: 4px;
    font-size: 0.8em;
    color: $expandAndCollapseControlColor;
    cursor: pointer;
}